body {}


#footer {
	text-wrap: none;
	padding: 0;
	height: 2rem;
}

.person {
	margin: 0;
	padding: 0;
	width: 19.1%;
	height: 1.9rem;
	border-right-width: 1px;
	border-right-color: #333333;
	border-right-style: solid;
	float: left;
}

#write {
	display: none;
}

#write.visible {
	display: block;
}