<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/MetisSingle" version="1.0.0" viewmodes="maximized">
    <tizen:application id="fwn29iUGn1.MetisSingle" package="fwn29iUGn1" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>MetisSingle</name>
</widget>
